{% extends "base.html" %} {% load static %} {% block title %}reset_password{% endblock title %} {% block body %}
<div class="container-xxl mt-2 category">
  <div class="container">
    <div class="text-center" data-wow-delay="0.1s">
      <!-- <h1 class=""> -->
      <lord-icon
        src="https://cdn.lordicon.com/xcxzayqr.json"
        trigger="boomerang"
        state="morph-group"
        style="width: 100px; height: 100px"
      >
      </lord-icon>
      <!-- </h1> -->
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="w-50 p-3 mt-" style="background-color: #eee">
    <div class="text-center"><h3>Forgot Password</h3></div>
    {% for message in messages %}
    <div class="alert alert-success text-center" role="alert">{{message}}</div>
    {% endfor %}
    <form action="" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <div class="form-group mt-2">{{ form.as_p }}</div>
      </div>
      <button type="submit" class="btn btn-primary">Send Email</button>
    </form>
    {% comment %}
    <form action="{% url 'dologin' %}" method="post">
      {% csrf_token %}
      <input
        type="email"
        name="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="EMAIL ID"
      />
      <div class="form-group mt-2">
        <input
          type="password"
          name="password"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="PASSWORD"
        />
      </div>
      {% endcomment %}
  
  </div>
</div>
</div>

{% endblock body %}
