{% extends "base.html" %} {% load static %} {% block body %}

<section style="background-color: #eee">
  <div class="container py-3">
    <div class="col-lg-12">
      <div class="card mb-4">
        <div class="card-body">
          {% for message in messages %}
          <div class="alert alert-success text-center" role="alert">
            {{message}}
          </div>
          {% endfor %}

          <div class="row">
            <div class="col-sm-9">
              <h3 class="pt-4">EDIT STAFF</h3>
            </div>
          </div>

          <hr />

          <form method="post" action="{% url "UpdateStaff" %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Profile picture</p>
              </div>
              <div class="col-sm-9">
                <input type="file" class="form-control" name="profile_pic" />
              </div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">First name</p>
              </div>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  name="s_first_name"
                  value="{{staff.admin.first_name}}"
                  
                />
                <input
                  type="text"
                  class="form-control"
                  name="staff_id"
                  value="{{staff.admin.id}}"
                  hidden
                  
                />
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Last name</p>
              </div>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  name="s_last_name"
                  value="{{staff.admin.last_name}}"
                  required
                />
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Username</p>
              </div>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  name="s_username"
                  value="{{staff.admin.username}}"
                  required
                />
              </div>
            </div>

            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <input
                  type="email"
                  class="form-control"
                  name="s_email"
                  value="{{staff.admin.email}}"
                  required
                />
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Gender</p>
              </div>
              <div class="col-sm-9">
                <select name="gender" required>
                  <option value="male">male</option>
                  <option value="female">female</option>
                  <option value="other">other</option>
                </select>
              </div>
            </div>
            <hr />

            
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <textarea class="form-control" name="s_address" required>
{{staff.address}}</textarea
                >
              </div>
            </div>
            <hr />

            <div class="row">
              <div class="col-sm-3">
                <input
                  type="submit"
                  class="btn btn-primary"
                  value="UPDATE STAFF"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
