{% extends "base.html" %} {% load static %} {% block body %}

<section style="background-color: #eee">
  <div class="container py-3">
    <div class="col-lg-12">
      <div class="card mb-4">
        <div class="card-body">
          {% for message in messages %}
          <div class="alert alert-success text-center" role="alert">
            {{message}}
          </div>
          {% endfor %}

          <div class="row">
            <div class="col-sm-9">
              <h3 class="pt-4">EDIT SESSION</h3>
            </div>
          </div>

          <hr />

          <form action="{% url 'UpdateSession' %}" method="post">
            {% csrf_token %}

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Session start date</p>
              </div>
              <div class="col-sm-9">
                <input
                  type="date"
                  id="txtdateofreservation"              
                  class="form-control"
                  name="start_date"
                  value="{% for i in session %}{{i.session_start}}{% endfor %}"
                  required
                />
                <input
                  type="text"
                  class="form-control"
                  name="s_id"
                  value="{% for i in session %}{{i.id}}{% endfor %}"
                  hidden
                  required
                />
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Session end date</p>
              </div>
              <div class="col-sm-9">
                <input
                  type="date"
                  id="txtdateofreservation"
                  class="form-control"
                  name="end_date"
                  value="{% for i in session %}{{i.session_end}}{% endfor %}"
                  required
                />
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <input
                  type="submit"
                  class="btn btn-primary"
                  value="EDIT SESSION"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        var today = new Date();
        var month = ('0' + (today.getMonth() + 1)).slice(-2);
        var day = ('0' + today.getDate()).slice(-2);
        var year = today.getFullYear();
        var date = year + '-' + month + '-' + day;
        $('[id*=txtdateofreservation]').attr('min', date);
    });
</script>

{% endblock body %}
