{% extends "base.html" %}
{% load static %}
{% block body %}

<section style="background-color: #eee">
    <div class="container py-3">
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-body">
            {% for message in messages %}
            <div class="alert alert-success text-center" role="alert">
              {{message}}
            </div>
            {% endfor %}
  
            <div class="row">
              <div class="col-sm-9">
                <h3 class="pt-4">View Attendance</h3>
              </div>
            </div>
  
            {% if action is None %}
            <form
              action="?action=view_attendance"
              method="post"
              enctype="multipart/form-data"
            >
              {% csrf_token %}

              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Subject</p>
                </div>
                <div class="col-sm-9">
                  <select name="subject_id" required>
                    <option>Select Course</option>
                    {% for i in subject %}
                    <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Session</p>
                </div>
                <div class="col-sm-9">
                  <select name="session_id" required>
                    <option>Session</option>
                    {% for i in session %}
                    <option value="{{i.id}}">
                      {{i.session_start}} to {{i.session_end}}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Attendance Date</p>
                </div>
                <div class="col-sm-9">
                  <input
                    type="date"
                    class="form-control"
                    name="attendance_date"
                    required
                  />
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <button
                    type="submit"
                    class="btn btn-primary">Show Students
                  </butten>
                </div>
              </div>
            </form>
            
          </div>
        </div>
      </div>
      {% else %}

      <form
      action="?action=view_attendance"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}

      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Subject</p>
        </div>
        <div class="col-sm-9">
          <select name="subject_id" disabled>
            
            <option value="{{i.id}}">{{get_subject}}</option>

          </select>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Session</p>
        </div>
        <div class="col-sm-9">
          <select name="session_id" disabled>
            
            <option value="{{i.id}}">{{get_session}}</option>

          </select>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Attendance Date</p>
        </div>
        <div class="col-sm-9">
          <input
            type="date"
            class="form-control"
            name="attendance_date"
            value="{{attendance_date}}"
            disabled
          />
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <div class="card mb-4">
            <div class="card-body">
             <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                
              </tr>
            </thead>
            <tbody>
              {% for i in attendance_report %}

              <tr>
                <td>{{i.student_id.admin.id}}</td>
                <td>{{i.student_id.admin.first_name}}&nbsp;{{i.student_id.admin.last_name}}</td>
                <td>{{i.student_id.admin.email}}</td>
                
              </tr>
              {% endfor %}
            </tbody>
             </table>
            </div>
          </div>
        </div>
      </div>
      </form>

      {% endif %}
    </div>
  </section>
  

{% endblock body %}
