<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar ps ps--theme_default" data-ps-id="237acdd7-4b04-8f6e-3a96-f5563770bf49">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav active">
        <ul id="sidebarnav" class="in">
          <li class="active">
            <a class="waves-effect waves-dark active" href="index.html" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
          </li>
          <li>
            <a class="waves-effect waves-dark" href="pages-profile.html" aria-expanded="false"><i class="fa fa-user-circle-o"></i><span class="hide-menu">Profile</span></a>
          </li>
          <li>
            <a class="waves-effect waves-dark" href="table-basic.html" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Tables</span></a>
          </li>
          <li>
            <a class="waves-effect waves-dark" href="icon-fontawesome.html" aria-expanded="false"><i class="fa fa-smile-o"></i><span class="hide-menu">Icons</span></a>
          </li>
          <li>
            <a class="waves-effect waves-dark" href="map-google.html" aria-expanded="false"><i class="fa fa-globe"></i><span class="hide-menu">Map</span></a>
          </li>
          <li>
            <a class="waves-effect waves-dark" href="pages-blank.html" aria-expanded="false"><i class="fa fa-bookmark-o"></i><span class="hide-menu">Blank</span></a>
          </li>
          <li>
            <a class="waves-effect waves-dark" href="pages-error-404.html" aria-expanded="false"><i class="fa fa-question-circle"></i><span class="hide-menu">404</span></a>
          </li>
        </ul>
        <div class="text-center mt-4">
          <a href="https://www.wrappixel.com/templates/adminwrap/" class="
              btn
              waves-effect waves-light
              btn-info
              hidden-md-down
              text-white
            ">
            Upgrade to Pro</a>
        </div>
      </nav>
      <!-- End Sidebar navigation -->
    <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
    <!-- End Sidebar scroll-->
  </aside>